//Normalize styles
//@import '../../node_modules/normalize.css/normalize'
@import './_constants'
@import './_common'
@import "./_fonts"

*
  box-sizing: border-box

body
  font-family: 'Roboto', Arial, Helvetica, sans-serif
  margin: 0
  padding: 0
  font-weight: 300
  font-size: $font-size__base

  color: $color__text_primary
//max-width: $width__desktop

a
  color: $color__link

h2
  display: block
  font-size: 2em
  margin-block-start: .67em
  margin-block-end: .67em
  margin-inline-start: 0px
  margin-inline-end: 0px
  font-weight: bold

h2
  display: block
  font-size: 1.5em
  margin-block-start: .83em
  margin-block-end: .83em
  margin-inline-start: 0px
  margin-inline-end: 0px
  font-weight: bold

h3
  display: block
  font-size: 1.17em
  margin-block-start: 1em
  margin-block-end: 1em
  margin-inline-start: 0px
  margin-inline-end: 0px
  font-weight: bold


.title
  @include title(1)

.link
  @include link

.logo
  display: block
  height: 50px
  width: auto

.header
  padding: 2*$gutter 0

  &__box
    @include box
    padding: 0 4*$gutter
    display: flex
    flex-direction: row
    flex-basis: calc(100% / 12)
    align-items: center

  &__logo
    flex-grow: 3

  &__content
    flex-grow: 9
    text-align: right

.phone
  text-decoration: none
  font-weight: 500
  color: $color__first

.block-main
  width: 100%
  padding: 20*$gutter 0
  color: $color__text-invert_primary
  box-sizing: border-box
  @include gradient($color__first, $color__second)
  position: relative

  &:before
    content: ''
    display: block
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%
    background: url('/gdkgroup/assets/images/re.jpg') 0 0 / cover no-repeat
    opacity: .1
    z-index: 1

  &__box
    @include box
    padding: 0 4*$gutter
    position: relative
    z-index: 2


.block-second
  @include flexed(1, 2, 4, 1)
  padding: 10*$gutter
  position: relative

  &:before
    content: ''
    display: block
    position: absolute
    top: 0
    left: 0
    height: 514px
    width: 256px
    background: url('/gdkgroup/assets/images/dots-arrow-left-side.png') 0 0 / contain no-repeat
    opacity: .5


  &__box
    @include box

  &__title
    padding: 0 4*$gutter


.article
  height: 100%
  border-bottom: 3px solid $color__first

.services
  @include flexed(1, 1, 1, 1)
  position: relative

  &:before
    content: ''
    display: block
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%
    background: url('/gdkgroup/assets/images/rounds.png') center / contain no-repeat
    opacity: .1
    z-index: 1

  &__box
    @include box

  &__title
    padding: 0 4*$gutter


  &__image
    flex-grow: 1
    background-size: cover
    background-position: center
    height: 100%

  &__item-box
    display: block
    flex-grow: 3

.about
  background: $color__six
  padding: 6*$gutter 0 10*$gutter 0
  position: relative
  overflow: hidden


  &:before
    content: ''
    display: block
    position: absolute
    bottom: -165px
    right: -30px
    height: 514px
    width: 256px
    background: url('/gdkgroup/assets/images/dots-arrow-right-side.png') 0 0 / contain no-repeat
    transform: rotate(-135deg)
    opacity: .5

  &:after
    content: ''
    display: block
    position: absolute
    bottom: 0
    right: 0
    height: 100%
    width: 100%
    background: url('/gdkgroup/assets/images/office.jpg') center / cover no-repeat
    opacity: .1


  &__box
    @include box

  &__title
    padding: 0 4*$gutter

  &__content
    padding: 0 4*$gutter

.specialists
  @include flexed(1, 2, 3, 0)
  padding: 0 0 10*$gutter 0

  &__box
    @include box

  &__title
    padding: 0 4*$gutter

  &__image
    max-width: 100%
    height: auto
    margin: auto
    display: block


.footer
  @include flexed(1, 2, 3, 1)
  background: $color__fifth
  color: rgba($color__text-invert_primary, .6)
  font-size: .8em
  position: relative
  overflow: hidden

  &:after
    content: ''
    display: block
    position: absolute
    top: -165px
    left: -35px
    height: 514px
    width: 256px
    background: url('/gdkgroup/assets/images/dots-arrow-left-side-l.png') 0 0 / contain no-repeat
    transform: rotate(-135deg)
    opacity: .3
    z-index: 1

  &__box
    @include box
    position: relative
    z-index: 2


  &__cred
    text-align: center
    padding: 4*$gutter


.statistics
  @include flexed(1, 2, 3, 1)
  padding: 0 0 10*$gutter 0

  &__box
    @include box

  &__title
    padding: 0 4*$gutter

  &__thumbnail
    background-position: center
    background-size: cover
    padding-top: 75%
    width: 100%

.line
  display: flex
  flex-direction: row
  flex-basis: calc(100% / 12)

  &__key
    flex-grow: 0

  &__delimiter
    flex-grow: 1
    border-bottom: 1px dotted $color__second

  &__value
    flex-grow: 0
    text-align: right

.contactus
  display: none
